# 42 API Configuration
FT_CLIENT_ID=ft_user_id_here
FT_CLIENT_SECRET=ft_user_secret_here
FT_REDIRECT_URI=http://localhost:8000/api/auth/42/callback/
FT_API_BASE_URL=https://api.intra.42.fr

# Allowed hosts for Django
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database configuration
DB_NAME=db_name_here
DB_USER=db_user_here
DB_PASSWORD=db_password_here
DB_HOST=db_host_here
DB_PORT=db_port_here